#button {
    width: 50px;
height: 50px;
transform: rotate(25.158deg);
flex-shrink: 0;
fill: linear-gradient(to bottom right, #8CA3F3 0%, rgba(64, 97, 182, 0.49) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #8CA3F3 0%, rgba(64, 97, 182, 0.49) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #8CA3F3 0%, rgba(64, 97, 182, 0.49) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #8CA3F3 0%, rgba(64, 97, 182, 0.49) 50%) top right / 50% 50% no-repeat;
position:absolute;
left: 210px;
bottom: 238px;
}

#button:hover {
    width: 50px;
height: 50px;
transform: rotate(25.158deg);
flex-shrink: 0;
fill: linear-gradient(to bottom right, #CEA8FF 0%, rgba(94, 28, 125, 0.87) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #CEA8FF 0%, rgba(94, 28, 125, 0.87) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #CEA8FF 0%, rgba(94, 28, 125, 0.87) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #CEA8FF 0%, rgba(94, 28, 125, 0.87) 50%) top right / 50% 50% no-repeat;
position:absolute;
left: 210px;
bottom: 238px;
cursor:pointer;
}

body {
    font-family: 'Dancing Script', cursive;
    background-color: #0C0A1F;
    color:#8CA3F3;
}

#letterform-character {
font-size: 550px;
font-style: normal;
font-weight: 400;
line-height: normal;
/* background: linear-gradient(180deg, #7377ED 0%, rgba(28, 54, 119, 0.43) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent; */
/* background-color:#8CA3F3; */
}

.container {
 position:relative;
 margin:0 auto;
 width:50%;
}

section {
    margin:0 auto;
    width:1024px;
    display:flex;
}

.sampleset {
    color: #FFF;
font-family: Dancing Script;
font-size: 72px;
font-style: normal;
font-weight: 400;
line-height: normal;
width:46px;
height:946px;
overflow-x: hidden;
overflow-y:scroll;
clear:both;
}

section div {
    width:45%;
}