/* this is the main css style sheet for lis-friesen.github.io/project-2 site */

/***** Typography *****/
:root {
    --sans: 'Indie Flower', cursive;
    --display: 'Rock Salt', cursive;
}

h1 {
    font-family:Rock Salt;
    font-size:40px;
    font-weight:400;
}

h2 {
    font-family:Rock Salt;
    font-size:32px;
    font-weight:400;
}

p {
    font-family:Indie Flower;
    font-size:20px;
    font-weight:400;
}
/***** Color *****/

/***** Navigation *****/

/***** Layout *****/

body {
    margin:0;
}


section {
    justify-content:space-between;
    background-color:#2F2D90;
    padding:50px;
    /* margin:auto;
    max-width:1440px; */
}


nav {
    display:flex;
    justify-content:space-between;
    background-color:#003063;
    padding:50px;
    /* margin:auto; */
}

nav ul {
    list-style-type:none;
    display:contents;
}


.flex {
    display:flex;
    flex-direction:row;
    /* justify-content:space-between; */
    padding:0 75;
}

/* use this one only when photos won't stack for whatever reason */
.vert {
    display:flex;
    flex-direction:column;
}

.horizontal-pic {
    width:300px;
    height:225px;
}

.vertical-pic {
    width:375px;
    height:525px;
}

/* img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
  } */



#pagetitle {
    height:150px;
}

#fluffy {
    height:700px;
}


#homepage-section {
    width:auto;
    height:100%;
}