/* this is the main css style sheet for lis-friesen.github.io/project-2 site */

/***** Typography *****/
:root {
    --sans: 'Indie Flower', cursive;
    --display: 'Rock Salt', cursive;
}

h1 {
    font-family:Rock Salt;
}

p {
    font-family:Indie Flower;
}
/***** Color *****/

/***** Navigation *****/

/***** Layout *****/
section {
    /* width:100vw;
    height:100vh;
    padding:60px; */
    background-color:#2F2D90;
}



#first-section {
    background-color:#003063;
    height:75px;
}

#second-section {
    height:525px;
}

#third-section {
    height:165px;
}

#fourth-section {
    height:525px;
}


.flex {
    display:flex;
    flex-direction:row;
}

/* .chunk {
    background-color:white;
} */

/* .image {
    width:500px;
    height:300px;
    background-color:aqua;
} */


.dot {
    width:50px;
    Height:50px;
    background-color:#FFFFFF;
    border-radius:50%;
    display:inline-block;
}

.dot1 {
    width:50px;
    Height:50px;
    background-color:#FFD7F1;
    border-radius:50%;
    display:inline-block;
}

.dot2 {
    width:50px;
    Height:50px;
    background-color:#9BEDFF;
    border-radius:50%;
    display:inline-block;
}

.dot3 {
    width:50px;
    Height:50px;
    background-color:#D1F8DA;
    border-radius:50%;
    display:inline-block;
}